* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #232323;
  font-family: "Century Gothic";
}
.container {
  margin-top: 10vh;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  width: auto;
  height: auto;
  padding: 0.5rem;
  display: flex;
  background: rgb(19, 19, 19);
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: none;
  overflow: hidden;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.25);
}
.container .calc_header {
  font-size: 1.5rem;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbox {
  width: 100%;
  margin-bottom: 1.7rem;
  white-space: inherit;
  text-align: right;
  text-overflow: ellipsis;
  white-space: wrap;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}
.numbox,
.ansbox {
  background: #3a3a3a;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  font-family: "Tempus Sans ITC";
  letter-spacing: 3px;
}

.ansbox {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.Row {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.numbers,
.clear,
.operators,
.resolve {
  transition: transform 50ms ease-in;
}
span {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 8px 35px 8px 0px;
  border-radius: 10px;
  margin: 0.2rem;
  overflow: hidden;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15) inset 0 -8px 8px
      rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
}
span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}
span i {
  position: relative;
  color: #fff;
  font-style: normal;
  font-size: 1.3rem;
}

#mainscreen {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}

#Equalto {
  /* width: 100%; */
  height: 100%;
  text-align: center;
}
.Row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
